<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠组合</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="<%=apiPath %>/style/wap/common/css/wapRest.css"/>
    <script src="<%=apiPath %>/js/wap/common/js/fit.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="<%=apiPath %>/style/wap/commondity/css/skuDetailInfo.css"/>
    <link rel="stylesheet" type="text/css" href="<%=apiPath %>/style/wap/order/css/order.css"/>
</head>
<body>
<div class="header">优惠组合<span><img src="/resources/wap/commondity/img/head.png" alt="" /></span></div>
<div class="section">
    <div class="single">
        <p class="title" onclick="isOpen($(this))">单门课购买<i class="up"></i></p>
        <div class="con open">
            <em><img src="/resources/wap/commondity/img/banner.png" alt=""></em>
            <p>五大行业高薪就业班</p>
            <span>￥<i>4250</i></span>
            <a class="dmBtn">去报名</a>
        </div>
    </div>
    <div class="pack">
        <p class="title" onclick="isOpen($(this))">选择套餐<i></i></p>
        <div class="con">
            <div class="tit">
                <p>五科超值套餐</p>
                <span class="price">￥4562</span>
                <i>立省17870</i>
            </div>
            <ul>
                <li>
                    <p>五大行业高薪就业</p>
                    <span>￥4250</span>
                </li>
                <li>
                    <p>零基础班</p>
                    <span>￥1390</span>
                </li>
                <li>
                    <p>经济法基础班</p>
                    <span>￥2930</span>
                </li>
                <li>
                    <p>会计基础班</p>
                    <span>￥1230</span>
                </li>
            </ul>
            <a class="tcBtn">去报名</a>
        </div>
    </div>
    <div class="comb">
        <p class="title" onclick="isOpen($(this))">选择组合<i></i></p>
        <div class="con">
            <div class="tit">
                <p>五科超值套餐</p>
                <span class="price">￥4562</span>
                <i>立省17870</i>
            </div>
            <ul>
                <li>
                    <p><i></i>五大行业高薪就业</p>
                    <span>￥4250</span>
                </li>
                <li>
                    <p><i></i>零基础班</p>
                    <span>￥1390</span>
                </li>
                <li>
                    <p><i></i>经济法基础班</p>
                    <span>￥2930</span>
                </li>
                <li>
                    <p><i></i>会计基础班</p>
                    <span>￥1230</span>
                </li>
            </ul>
            <a class="zhBtn">去报名</a>
        </div>
        <div class="con">
            <div class="tit">
                <p>五科超值套餐</p>
                <span class="price">￥4562</span>
                <i>立省17870</i>
            </div>
            <ul>
                <li>
                    <p><i></i>五大行业高薪就业</p>
                    <span>￥4250</span>
                </li>
                <li>
                    <p><i></i>零基础班</p>
                    <span>￥1390</span>
                </li>
                <li>
                    <p><i></i>经济法基础班</p>
                    <span>￥2930</span>
                </li>
                <li>
                    <p><i></i>会计基础班</p>
                    <span>￥1230</span>
                </li>
            </ul>
            <a class="zhBtn">去报名</a>
        </div>
    </div>
</div>
<script src="<%=apiPath %>/js/wap/common/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="<%=apiPath %>/js/wap/order/js/order.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>