<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml"
      xmlns:th="//www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!--禁用苹果数字变为蓝色-->
    <meta name="format-detection" content="telephone = no"/>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <title>海米管家支付</title>
    <link type="text/css" rel="stylesheet" th:href="@{${staticDomain}+'/style/wap/common/css/wapRestRem.css'}" />
    <script type="text/javascript" th:src="@{${staticDomain}+'/js/wap/common/js/fit.js'}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{${staticDomain}+'/style/wap/payOrder/css/payCoffee.css?v='+${staticVersion}}" />
    <!--<link rel="stylesheet" type="text/css" href="//test2.duia.com:8080/resources/wap/payOrder/css/payCoffee.css" />-->

    <script th:inline="javascript">
        var staticBasePath = [[${staticDomain}]];
    </script>
</head>
<body>
<!--头部start-->
<div class="header" id="header" style="display: none;">
    <i class="go-back-i" onclick="history.go(-1);">
        <img class="imgW-100" src="//static.duia.com/pro/image/wap/common/img/headBack.png">
    </i>
    <i>海米管家支付</i>
    <!--<span>-->
    <!--<img class="imgW-100"  th:if="${session.user!=null}" th:src="${tuDomain}+'/'+${session.user.picUrl}"/>-->
    <!--<img class="imgW-100"  th:if="${session.user==null}" th:src="@{${staticDomain}+'/image/wap/skuIndex/img/head.png'}"  onclick="signIn();"/>-->
    <!--</span>-->
</div>
<!--头部end-->
<!--正文部分start-->
<div class="payCoffee" id="payCoffee">
    <div class="payCoffee-top">
        <div class="payCoffee-top1">
            <div class="payCoffee-top1-image-div"></div>
            <div class="clearfloat payCoffee-top1-p-div">
                <p class="fl color-47c88a font-30r">申请教育分期</p>
                <p class="fr color-999 font-30r">支付首付款</p>
            </div>
        </div>
        <div class="isSpread-fgx-dashed"></div>
        <div class="payCoffee-top2">
            <div class="font-26r color-999 clearfloat payCoffee-top2-top">
                <span class="fl color-47c88a">分期金额</span>
                <span class="fl" style="margin-left: .49rem;">=</span>
                <span class="fl" style="margin-left: .49rem;">订单金额</span>
                <span class="fl" style="margin-left: .56rem;">-</span>
                <span class="fr">首付款</span>
            </div>
            <div class="font-26r color-999 clearfloat payCoffee-top2-bottom">
                <span class="fl color-47c88a tc" style="margin-left: .71rem;" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:text="'￥'+${#numbers.formatDecimal(childOrderList[0].realpayPrice, 1, 1)}">￥10000.0</span>
                <span class="fl tc" style="margin-left: .93rem;" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:text="'￥'+${#numbers.formatDecimal(childOrderList[0].realpayPrice+childOrderList[1].realpayPrice, 1, 1)}">￥10000.0</span>
                <span class="fl tc" style="margin-left: .93rem;" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:text="'￥'+${#numbers.formatDecimal(childOrderList[1].realpayPrice, 1, 1)}">￥10000.0</span>
            </div>
        </div>
    </div>
    <div class="isSpread-fgx"></div>
    <div style="height: .2rem;"></div>
    <div class="isSpread-fgx"></div>
    <div class="payCoffee-main">
        <div class="payCoffee-main-title clearfloat">
            <span class="fl">个人信息填写</span>
            <i class="fl font-24r">请先在海米管家APP注册账号</i>
        </div>
        <div class="isSpread-fgx"></div>
        <div class="payCoffee-main-write">
            <div class="input-container">
                <div>真实姓名</div>
                <input class="input-realName js-input-realName" type="text" value="" name="realName" placeholder="请填写您的姓名，2~15个字符" maxlength="15" autocomplete="off" />
            </div>
            <div class="isSpread-fgx"></div>
            <div class="input-container">
                <div>手机号码</div>
                <input class="input-telephone js-input-telephone" type="tel" value="" name="telephone" oninput="this.value=this.value.replace(/\D/g,'');" placeholder="请填写您的手机号码" maxlength="11" autocomplete="off" />
            </div>
            <div class="isSpread-fgx"></div>
            <div class="input-container">
                <div><div style="width: 1.1rem;display: flex;justify-content: space-between"><i>邮</i><i>箱</i></div></div>
                <input class="input-number js-input-mail" type="text" value="" placeholder="请填写您的邮箱" autocomplete="off" />
            </div>
            <div class="isSpread-fgx"></div>

            <div class="input-container">
                <div><div style="width: 1.1rem;display: flex;justify-content: space-between"><i>期</i><i>数</i></div></div>
                <p type="0" class="chackQishu chackQishuBgI">请选择贷款期数</p>
            </div>
            <div class="isSpread-fgx"></div>
            <div class="input-container">
                <div>详情地址</div>
                <input class="js-input-site" type="text" maxlength="100" value="" placeholder="请填写详细地址" autocomplete="off"/>
            </div>

        </div>
        <div class="isSpread-fgx"></div>
    </div>
    <div class="baiduChangTS">如您已提交过申请，点击此处&nbsp<span class="haimiChangTSClick">立即验证</span>，支付首付款开课</div>
    <div class="payCoffee-bottom tc" id="payhaimiCheck">确认申请</div>
</div>


<div class="ismyslide">
    <div class="slide-content">
        <div class="ismyslide-top">
            <div class="myLeft"></div>
            <div class="myRight"></div>
            考期
        </div>
        <div class="poe">
            <div class="swiper-container">
                <div class="swiper-wrapper" style="margin-top: -3.95rem;">
                    <div class="swiper-slide" type="3">3期</div>
                    <div class="swiper-slide" type="6">6期</div>
                    <div class="swiper-slide" type="12">12期</div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="active_line"></div>
            </div>

        </div>
    </div>
</div>

<!--alert-->
<div class="payMeng"></div>
<div class="baiduAlertBox">
    <p class="baiduAlertTlt">已提交申请</p>
    <p class="baiduAlertCen">您已提交教育分期申请，请在海米管家APP申请贷款成功后，支付尾款并开通课程权限。</p>
    <div class="baiduAlertTiShiBox">
        <p class="baiduAlertTiShi">贷款还未申请成功，请稍后再试</p>
    </div>
    <div class="haimiAlertBtn">支付尾款</div>
</div>
<!--隐藏域start-->
<input type="hidden" id="payNum" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:value="${childOrderList[0].payNum}" />
<input type="hidden" id="payNumTwo" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:value="${childOrderList[1].payNum}" />
<input type="hidden" id="paidCount" th:if="${paidCount!=null}" th:value="${paidCount}" />
<input type="hidden" id="payBCType" value="3" />
<input type="hidden" th:if="${payDomain!=null}" th:value="${payDomain}" id="payBasePath" />
<input type="hidden" th:if="${childOrderList!=null && #arrays.length(childOrderList)>0}" th:value="${childOrderList[1].id}" id="orderIdTwo" />
<!--隐藏域end-->
<!--正文部分end-->
<script type="text/javascript" th:src="@{${staticDomain}+'/js/wap/common/js/jquery-1.9.1.min.js'}"></script>
<script type="text/javascript" th:src="@{${staticDomain}+'/js/wap/common/js/fastclick.min.js'}"></script>
<script type="text/javascript" th:src="@{${staticDomain}+'/js/app/publicJavaScript/swiper.min.js'}"></script>

<script type="text/javascript" th:src="@{${staticDomain}+'/js/wap/common/js/runFastclick.js'}"></script>
<script type="text/javascript" th:src="@{${staticDomain}+'/js/wap/payOrder/js/payCoffee.js?v='+${staticVersion}}"></script>
<!--<script src="//test2.duia.com:8080/resources/wap/payOrder/js/payCoffee.js"></script>-->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 12, //每页显示的side个数
        paginationClickable: true, //是否支持点击
        spaceBetween: 0, //每个side的距离
        direction: 'vertical', //是否ֱ垂直居中
        centeredSlides: true, //是否显示居中
        initialSlide: 0, //初始位置
        slideToClickedSlide: true, //是否点击居中
    });
</script>
</body>
</html>