<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单无任何商品-</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="<%=apiPath%>/style/wap/common/css/wapRest.css"/>
    <script src="<%=apiPath%>/js/wap/common/js/fit.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="<%=apiPath%>/style/wap/payOrder/css/payConfirm.css"/>
</head>
<body>
<div class="indent_top">
    <a>确认订单</a>
    <span><img src="/resources/wap/commondity/img/head.png" alt=""></span>
</div>
<div class="indent_step">
    <div>
        <span><img src="/resources/wap/payOrder/img/indent.png"></span>
        <a>确认订单</a>
        <i><img src="/resources/wap/payOrder/img/indent_t.png"></i>
        <b><img src="/resources/wap/payOrder/img/d.png"></b>
        <p>支付订单</p>
    </div>
</div>
<div class="indent_no_article">
        <span  class="nd"><img src="/resources/wap/payOrder/img/zwt.png"></span>
        <a>订单中无任何商品，请尝试重新购买课程。</a>
</div>
</body>
</html>