<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单确认-春季特惠大礼包</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="<%=apiPath%>/style/wap/common/css/wapRest.css"/>
    <script src="<%=apiPath%>/js/wap/common/js/fit.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="<%=apiPath%>/style/wap/payOrder/css/payConfirm.css"/>
</head>
<body>
<div class="indent_top">
    <a>确认订单</a>
    <span><img src="/resources/wap/commondity/img/head.png" alt=""></span>
</div>
<div class="indent_step">
    <div>
        <span><img src="/resources/wap/payOrder/img/indent.png"></span>
        <a>确认订单</a>
        <i><img src="/resources/wap/payOrder/img/indent_t.png"></i>
        <b><img src="/resources/wap/payOrder/img/d.png"></b>
        <p>支付订单</p>
    </div>
</div>
<div class="course_m" style="border-bottom: 0;">
    <div class="course_title">
        <a>课程信息</a>
    </div>
    <div class="course_study">
        <i><img src="/resources/wap/payOrder/img/icon1.png"></i>
        <h4>春节特惠大礼包</h4>
        <span><img src="/resources/wap/payOrder/img/course1.png"></span>
        <div class="course_text">
            <a>五大行业高薪就业班</a>
            <b>￥4250.0</b>
        </div>
    </div>
    <div class="course_study" style="padding-top: .7rem;">
        <span><img src="/resources/wap/payOrder/img/course1.png"></span>
        <div class="course_text">
            <a>五大行业高薪就业班</a>
            <b>￥4250.0</b>
        </div>
    </div>

    <div class="study_b" style="background-color: #f5f5f5;">
        <div class="study_text">
            <!--<span><img src="/resources/wap/commondity/img/icon.png"></span>-->
            <i></i>
            <a>学习包</a>
            <a style="padding-left: .4rem;font-size: .26rem;">￥80</a>
            <b>取消后不再邮寄学习包</b>
        </div>
        <div class="class_bx" style="border-bottom: none;">
            <div>
                <!--<span><img src="/resources/wap/commondity/img/icon.png"></span>-->
                <i></i>
                <a>《高薪就业班》商业保险</a>
                <p>查看详细条款</p>
            </div>
            <div class="cost_r" >
                <b>￥80</b>
                <div class="xz"></div>
                <div class="icon_r"></div>
            </div>
        </div>
        </div>
    <div class="commodity_m" style="padding: .5rem 0;">
        <div>
            <span>共1件商品</span>
            <span>小计:</span>
            <a>￥4250.0</a>
        </div>
    </div>

</div>
<div class="concessions_q">
    <div>
        <span><img src="/resources/wap/payOrder/img/y_icon.png"></span>
        <a>优惠劵</a>
        <b>1234569852sdf</b>
        <div class="yhq">
            <p>使用</p>
        </div>
    </div>
    <div class="class_jje">
        <ul style="margin-top: -.2rem">
            <li>
                <span></span>
                <i></i>
                <a>加3元获得高薪就业五大行业无敌班</a>
            </li>
            <li style="padding-top: .1rem">
                <span></span>
                <i></i>
                <a>加3元获得高薪就业五大行业无敌班</a>
            </li>
        </ul>
    </div>

</div>
<div class="person_m">
    <div class="insure_m">
        <b>保险信息</b>
        <div class="right_alter">
            <a>更改</a>
            <span></span>
        </div>
        <div class="m_text">
            <div>
                <b>猪小贱</b>
                <b style="margin-left: .3rem;">180*****9563</b>
            </div>
            <div style="margin-top: -.3rem;">
                <b style="margin-top: 0;">身份证</b>
                <b>1158459863214520659</b>
            </div>

        </div>
    </div>
    <div class="site">
        <b>寄送地址</b>
        <div class="right_alter">
            <a>更改</a>
            <span></span>
        </div>
        <div class="m_text">
            <div>
                <b>猪小贱</b>
                <b style="margin-left: .3rem;">180*****9563</b>
            </div>
            <p>北京北京市大兴区科创十三街【 锋创科技园 】5号楼16
                层对啊网</p>
        </div>
    </div>
    <!--<div class="contact">-->
        <!--<b>联系方式</b>-->
        <!--<i>课程管家将会通过QQ与你联系</i>-->
        <!--<div class="right_alter">-->
            <!--<a>更改</a>-->
            <!--<span></span>-->

        <!--</div>-->
        <!--<div class="qq">-->
            <!--<b>QQ：896531234</b>-->
            <!--<p>验证：1**9</p>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="hold">

</div>
<div class="indent_footer">
    <span></span>

    <a>￥42500</a>
    <p>
        <b>立即报名</b>
    </p>
</div>
</body>
</html>