<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml"
      xmlns:th="//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>对啊学习规划师</title>
    <meta name="format-detection" content="telephone = no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{${staticDomain}+'/style/wap/common/css/wapRest.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${staticDomain}+'/style/wap/wxCount/css/wxCount.css?v='+${staticVersion}}"/>
    <!--<link rel="stylesheet" type="text/css" href="//test2.duia.com:80/resources/wap/wxCount/css/wxCount.css" />-->
    <script type="text/javascript" charset="utf-8" th:src="@{${staticDomain}+'/js/wap/common/js/fit.js'}"></script>
</head>
<body>
<div class="pop-up2 pop2">
    <h2>请告诉我们考试内容</h2>
    <h3>将会赠送对应的学习资料</h3>
    <div class="skuList">
        <ul>
            <li value="8">
                <span>会计职称</span>
                <a></a>
            </li>
            <li value="31">
                <span>注册会计师</span>
                <a></a>
            </li>
            <li value="755">
                <span>CMA美国注册会计师</span>
                <a></a>
            </li>
            <li value="1">
                <span>会计实操</span>
                <a></a>
            </li>
            <li value="118">
                <span>教师资格证</span>
                <a></a>
            </li>
            <li value="754">
                <span>人力资源管理</span>
                <a></a>
            </li>
            <li value="563">
                <span>公务员</span>
                <a></a>
            </li>
            <li value="370">
                <span>建造/消防</span>
                <a></a>
            </li>
            <li value="361">
                <span>证券/银行/基金</span>
                <a></a>
            </li>
            <li value="7">
                <span>平面/UI/室内设计</span>
                <a></a>
            </li>
            <li value="369">
                <span>自考专科/本科</span>
                <a></a>
            </li>
            <li value="8">
                <span>其他</span>
                <a></a>
            </li>
        </ul>
    </div>

</div>

</body>
<script type="text/javascript" charset="utf-8" th:src="@{${staticDomain}+'/js/wap/common/js/jquery-1.9.1.min.js'}"></script>
<!--<script type="text/javascript" charset="utf-8" src="//test2.duia.com:80/resources/wap/wxCount/js/wxCount.js"></script>-->
<script type="text/javascript" charset="utf-8" th:src="@{${staticDomain}+'/js/wap/wxCount/js/wxCount.js?v='+${staticVersion}}"></script>
</html>