<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duia.commodity.dao.PayOrderMailingAddressMapper">
  <resultMap id="BaseResultMap" type="com.duia.commodity.model.PayOrderMailingAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="addressee" jdbcType="VARCHAR" property="addressee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="trans_mark" jdbcType="INTEGER" property="transMark" />
    <result column="mail_order_info" jdbcType="VARCHAR" property="mailOrderInfo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="qq_num" jdbcType="VARCHAR" property="qqNum" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="is_mail" jdbcType="INTEGER" property="isMail" />
    <result column="qq_validate" jdbcType="VARCHAR" property="qqValidate" />
  </resultMap>
</mapper>