<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duia.commodity.dao.TerminalDisplayMapper">
  <resultMap id="BaseResultMap" type="com.duia.commodity.model.TerminalDisplay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="series" jdbcType="INTEGER" property="series" />
    <result column="terminal" jdbcType="INTEGER" property="terminal" />
  </resultMap>
</mapper>