<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duia.commodity.dao.UserIosBalanceMapper">
  <resultMap id="BaseResultMap" type="com.duia.commodity.model.UserIosBalance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <update id="updateSubBalance">
    UPDATE user_ios_balance SET balance = (balance - #{costPrice}) WHERE user_id = #{userId} AND (balance - #{costPrice}) >= 0
  </update>
</mapper>